@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');

:root {
    --bg-dark: #232323;
    --brand-blue: #005782; /* Azul característico do seu design */
    --text-white: #FFFFFF;
    --text-gray: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px;
    position: relative;
    z-index: 10;
}

.logo img {
    height: 32px; 
}

nav a {
    color: var(--text-white);
    text-decoration: none;
    margin: 0 20px;
    font-size: 0.9rem;
    font-weight: 700;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--brand-blue);
}

.social-icons img {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--brand-blue);
    color: white;
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
    transition: transform 0.3s;
}


.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.hero-bg-shape {
    position: absolute;
    top: -156px;
    width: 542px;
    height: 810px;
    background-color: #005782;
    z-index: 1;
    border-radius: 0 0 500px 500px;
}

.hero-title {
    font-family: 'BBH Hegarty';
    font-size: 150px;
    font-weight: 880px;
    letter-spacing: 2px;
    z-index: 2;
    position: relative;
    margin-bottom: -9%;
}

.hero-img {
    z-index: 3;
    width: 542px;
    height: 542px;
    object-fit: cover;
    object-position: top;
    position: relative;
    border-radius: 0 0 500px 500px;
}

.hero-subtitle {
    font-family: 'BBH Hegarty', sans-serif;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    z-index: 3;
    position: relative;
}

.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 12%;
    gap: 50px;
}

.sobre-text .saudacao {
    color: #FFF;
    font-family: inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 1rem
}

.sobre-text .saudacao strong{
    font-weight: 900;
}

.sobre-text p {
    font-size: 1.5rem;
    line-height: 1.7;
}

.meu-botao {
  margin-top: 50px;
  background-color: #005782; 
  width: 438px;
  height: 98px;
  color: #ffffff;            
  padding: 12px 24px;        
  font-size: 32px;           
  font-weight: normal;        
  border: none;              
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.meu-botao:hover {
  background-color: #0056b3;
}

.meu-botao:active {
  transform: scale(0.98);   
}

.sobre-img-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.sobre-img-circle {
    margin-left: 100px;
    width: 436px;
    height: 436px;
    background-color: #005782;
    border-radius: 50%;
}

@media (max-width: 900px) {
    header {
        white-space: nowrap;
        flex-direction: column;
        gap: 20px;
    }
    
    .hero-title {
        font-size: 4rem;
        margin-bottom: -40px;
    }
    
    .hero-bg-shape {
        top: 0;
        width: 260px;
        height: 500px;
    }
    
    .hero-img {
        top: 84px;
        width: 260px;
        height: 280px;
        border-radius: 0 0 130px 130px;
    }
    
    .sobre-mim {
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px 8%;
    }

    .meu-botao {
        font-size: 18px;
        width: 219px;
        height: 49px;
    }
    
    .sobre-img-wrapper {
        justify-content: center;
    }
    
    .sobre-img-circle {
        margin-left: 0;
        width: 250px;
        height: 250px;
    }
}